.produtos {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.produtos__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.produtos__titulo {
  font-size: 2rem;
  font-weight: bold;
  color: #464646;
}

.produtos__mostrar-mais__link {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  color: #2A7AE4;
}

.produtos__mostrar-mais__imagem {
  width: 16px;
  height: 16px;
  margin: 0 0.4375rem 0 0.75rem;
}

.produtos__lista {
  display: flex;
  column-gap: 1rem;
}

.produtos__item {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 176px;
}

.produto__item-titulo {
  font-size: 0.875rem;
  font-weight: 500;
  color: #464646;
}

.produto__item-descricao {
  font-size: 1rem;
  font-weight: bold;
  color: #464646;
}

.produto__item-link {
  font-size: 1rem;
  font-weight: 700;
  color: #2A7AE4;
  cursor: pointer;
}

